.btn {
    display: block;
    border: 1px solid var(--dark);
    border-radius: 2px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--dark);
    background-color: transparent;
}

.btn-default {
    width: 230px;
    height: 50px;
    font-size: 20px;
}