.title-h1-italic {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--dark);
    text-align: center;
}

.title-h2,
.title-h1 {
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--dark);
    text-align: center;
}

.title-h3 {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark);
    text-align: center;
}

@media screen and (min-width: 768px) {

    .title-h2,
    .title-h1 {
        font-size: 36px;
    }

    .title-h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {

    .title-h2,
    .title-h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1920px) {
    .promo__title {
        font-size: 32px;
    }
}