.catalog {
    padding-top: 50px;
    padding-bottom: 60px;
}

.catalog__title {
    margin-top: 60px;
}

.catalog__tabs {
    display: flex;
    column-gap: 50px;

    row-gap: 13px;
    flex-wrap: wrap;
    margin-top: 60px;
    border: 1px solid var(--dark);
    padding: 13px 25px;
}

.catalog__tab {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}

.catalog__tab_active::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
    bottom: -1px;
}

.catalog__content {
    margin-top: 60px;
}

.catalog__content-item {
    flex-direction: column;
    gap: 20px;
}

.catalog__content-card {

    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    min-height: 275px;
    min-width: 340px;

    img {
        width: 100%;
        height: 198px;
        object-fit: cover;
    }
}

.catalog__card-info {
    padding: 11px 12px 20px 12px;
    border: 1px solid var(--dark);
    border-top: none;
}

.catalog__content-card-text {


    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.catalog__content-card-price {
    margin-top: 8px;

    font-weight: 500;
    font-size: 16px;
    color: #000;

}

@media screen and (min-width: 768px) {
    .catalog__tabs {
        flex-wrap: nowrap;
        width: 460px;
    }

    .catalog__content {
        position: relative;
        margin-top: 70px;
        padding: 0 10px;
    }

    .catalog__content::after {
        content: '';
        position: absolute;
        background-color: var(--dark);
        width: 1px;
        height: 200px;
        left: 0px;
        top: -10px;

    }

    .catalog__content::before {
        content: '';
        position: absolute;
        background-color: var(--dark);
        width: 200px;
        height: 1px;
        top: -10px;
        left: 0px;
    }

    .catalog__content-card {
        width: 340px;
    }


    .catalog__content-item {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .catalog__content {
        margin-top: 85px;
        padding: 0 25px;
    }

    .catalog__content-item {
        gap: 35px;
    }

    .catalog__content::after {
        content: '';
        position: absolute;
        background-color: var(--dark);
        width: 1px;
        height: 200px;
        left: 0px;
        top: -25px;

    }

    .catalog__content::before {
        content: '';
        position: absolute;
        background-color: var(--dark);
        width: 200px;
        height: 1px;
        top: -25px;
        left: 0px;
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .catalog__title {
        margin-top: 100px;
    }

    .catalog__content-item {
        column-gap: 83px;
        row-gap: 25px;
    }

    .catalog__content-card {
        width: 285px;
        min-height: 250px;

        img {
            height: 180px;
        }
    }
}